@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Heavy.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-UltraLight.otf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-S {
    width: 889px;
    margin: 0 auto;
}

.header {
    height: 1064px;
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("../src/greeting-background.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 961px;
    background-position: top;
    user-select: none;
    overflow: hidden;
}

/* top nav-menu */

.menu {
    display: grid;
    grid-template-areas:
        "logo navigation";
    grid-template-rows: 90px;
    grid-template-columns: auto 635px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.logo {
    grid-area: logo;
    padding: 0 4px;
}

.logo img {
    width: 133px;
    height: 29px;
    display: block;
}

.header__navigation-items {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 90px;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    display: block;
    height: 90px;
    line-height: 90px;
    color: white;
}

.navigation__link:hover {
    border-bottom: 1px solid #ffffff;
}

/* top nav-menu */

/* center greeting */

.greeting {
    height: 522px;
    margin-top: 331px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.greeting__head {
    font-size: 72px;
    font-family: "MyriadPro", "Lato", sans-serif;
    /*Myriad Pro нет в бесплатном доступе */
    text-transform: uppercase;
}

.greeting__text {
    margin: 6px;
    font-size: 32px;
    line-height: 47px;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
}

/* center greeting */

/* sign in LOGIN AND REGISTER */
.signin {

    display: grid;
    grid-template-columns: 50.8% auto;
    grid-template-rows: 121px;
    background-color: #2fac6c;
}

.login,
.register {
    line-height: 121px;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.login {
    text-align: end;
    padding-right: 272px;
    background-color: #203747;
    -webkit-clip-path: polygon(100% 0, 96% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 96% 100%, 0 100%, 0 0);
}

.register {
    padding-left: 240px;
}

.login:hover,
.register:hover {
    color: #bdb6ff
}

/* sign in LOGIN AND REGISTER */

/* section Domain*/

.domain {
    margin: 0 auto;
    width: 889px;
    height: 578px;
    background-color: white;
}

/* section Domain*/

/* section packages*/
.packages {
    height: 765px;
    background: url("../src/package-background.jpg") top no-repeat;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
}

.packages__container {
    margin: 100px 0;
    display: grid;
    grid-template-areas: "basic normal big biggest";
    grid-template-rows: 565px;
    grid-template-columns: 255px 255px 255px 255px;
    align-content: center;
    justify-content: space-between;
}

.packages__item {
    padding: 37px 27px 28px;
    background-color: white;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.06);
    border-top: 5px solid;
}

.packages__item:hover {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.packages__progress-svg {
    position: relative;
    margin: 0 auto;
    width: 55px;
    height: 55px;
}

.circle-bar {
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
}

.packages__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.packages__item-head {
    border-bottom: 1px solid #dfdfdf;
}

.packages__item-head h3 {
    margin: 16px 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #282828;
}

.packages__item-body {
    border-bottom: 1px solid #dfdfdf;
    padding: 19px 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 20px;
    font-weight: 300;
    color: #b4b4b4;
}

.packages__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    justify-content: space-between;
}

.advantage-value {
    font-size: 16px;
    font-weight: 600;
}

.packages__item-foot {
    text-align: center;
}

.packages__foot-text {
    margin-top: 28px;
    font-size: 27px;
    font-weight: 700;
    color: #2c2c2c;
}

.packages__foot-text:after {
    content: "";
    display: block;
    width: 105px;
    height: 3px;
    margin: 2px auto 18px;
}

.packages__foot-text .packages__foot-dollar {
    font-weight: 900;
    font-size: 17px;
}

.packages__foot-text .packages__foot-month {
    font-weight: 400;
    font-size: 13px;
    color: #8d8d8d;
}

.packages__foot-link {
    font-weight: 700;
    font-size: 16px;
}


.basic-package {
    grid-area: basic;
    border-top-color: #f9d423;
}

.basic-package .circle-bar {
    stroke: #f9d423;
}

.basic-package .packages__icon {
    color: #f9d423;
}

.basic-package .advantage-value {
    color: #f9d423;
}

.basic-package .packages__foot-text:after {
    background: #f9d423;
}

.basic-package .packages__foot-link:hover {
    color: #f9d423;
}


.normal-package {
    grid-area: normal;
    border-top-color: #7f8c8d;
}

.normal-package .circle-bar {
    stroke: #7f8c8d;
}

.normal-package .packages__icon {
    color: #7f8c8d;
}

.normal-package .advantage-value {
    color: #7f8c8d;
}

.normal-package .packages__foot-text:after {
    background: #7f8c8d;
}

.normal-package .packages__foot-link:hover {
    color: #7f8c8d;
}

.big-package {
    grid-area: big;
    border-top-color: #f85f40;
}

.big-package .circle-bar {
    stroke: #f85f40;
}

.big-package .packages__icon {
    color: #f85f40;
}

.big-package .advantage-value {
    color: #f85f40;
    font-weight: 600;
}

.big-package .packages__foot-text:after {
    background: #f85f40;
}

.big-package .packages__foot-link:hover {
    color: #f85f40;
}

.biggest-package {
    grid-area: biggest;
    border-top-color: #1abc9c;
}

.biggest-package .circle-bar {
    stroke: #1abc9c;
}

.biggest-package .packages__icon {
    color: #1abc9c;
}

.biggest-package .advantage-value {
    color: #1abc9c;
}

.biggest-package .packages__foot-text:after {
    background: #1abc9c;
}

.biggest-package .packages__foot-link:hover {
    color: #1abc9c;
}

/* packages section*/

/* about section*/
.about {
    background-color: white;
    height: 401px;
    color: #bfbfbf;
}

.about__container {
    border-top: 2px dotted #bfbfbf;
    padding: 100px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.about__text {
    width: 520px;
    padding-right: 100px;
    border-right: 2px dotted #bfbfbf;
}

.about__head {
    font-size: 35px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 21px;
}

.about__head span {
    font-size: 35px;
    color: #303030;
    font-family: 'Lato-Black', sans-serif;
}

.about__information {
    font-size: 18px;
    font-weight: 200;
    line-height: 27.08px;
}

.about__team {
    width: 680px;
    padding-left: 86px;
    padding-top: 8px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 130px);
    grid-gap: 99px;
}

.team-mate__information {
    text-align: center;
}

.team-mate__photo {
    display: block;
    margin: 0 auto 12px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
    width: 100px;
    height: 100px;
}

.team-mate__name {
    margin-bottom: 7px;
    color: #303030;
    font-size: 17px;
    font-weight: 600;
}

.team-mate__profession {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;

}

.team-mate__network {
    font-size: 15px;
    color: #bfbfbf;
}

.team-mate__network:hover {
    color: #1f89ba;
}

.team-mate__network:nth-of-type(2) {
    margin: 0 22px;
}

/* about section*/

/* comments section*/
.comments {
    height: 190px;
    overflow: hidden;
    background: url(../src/comments-background.jpg) no-repeat top;
    padding: 45px 0 52px;
    text-align: center;
    color: white;
    background-color: white;
}

.comments__content {
    margin-bottom: 14px;
    line-height: 30px;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
}

.comments__author {
    max-width: 100px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    border-right: 1px solid white;
    padding-right: 10px;
}

.comments__controls {
    margin-left: 12px;
}

/* comments section*/

/* functions section*/

.functions {
    height: 342px;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
}

.functions__container {
    margin-top: 99px 0;
    display: grid;
    grid-template-rows: 144px;
    grid-template-columns: repeat(4, 225px);
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

.back-circle {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    line-height: 60px;
}

.functions__item-title {
    margin: 20px 0 6px;
    font-size: 18px;
    font-weight: 800;
    color: #303030;
}

.functions__item-body {
    max-height: 145px;
    font-size: 16px;
    font-weight: 300;
    color: #7e7e7e;
    line-height: 22.03px;
}

.back-circle--orange {
    background-color: #f1c40f;
}

.back-circle--blue {
    background-color: #0faff1;
}

.back-circle--gray {
    background-color: #95a5a6;
}

.back-circle--red {
    background-color: #f1540f;
}

/* functions section*/

/* footer section*/
.footer {
    height: 294px;
    background-color: #2a2a2a;
    color: #686868;
    overflow: hidden;
}

.footer__menu {
    grid-template-rows: 75px;
    grid-template-columns: auto 430px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
    font-size: 13px;
    font-weight: 600;
}

.footer__navigation-items {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 75px;
    justify-content: space-between;
    align-items: center;
}

.gray-link {
    height: 75px;
    line-height: 75px;
    color: #686868;
}

.footer .navigation__link:hover {
    border-bottom: 1px solid transparent;
    color: white;
}

.footer__body {
    padding: 34px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 377px 505px 318px;
    grid-template-rows: 1fr;
    grid-template-areas: "copyright quick-links contacts";
}

.footer__copyright {
    grid-area: copyright;
    padding: 15px 80px 25px 0;
    border-right: 1px solid #686868;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}

.copyright-text {
    margin-bottom: 13px;
}

.copyright-author {
    font-weight: 700;
}


.footer__quick-links {
    grid-area: quick-links;
    padding: 0 108px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}

.quick-link {
    color: #686868;
    font-size: 15px;
    line-height: 29.04px;
}

.quick-link:hover {
    color: white;
}

.quick-link .fas {
    padding-right: 4px;
}

.footer__contacts {
    grid-area: contacts;
    padding: 15px 0 25px 85px;
    border-left: 1px solid #686868;
    font-size: 15px;
    font-weight: 300;
    line-height: 29.12px;
}

.footer__phone {
    color: #686868;
    line-height: 29.12px;
    font-size: 14.06px;
    font-weight: 300;
}

.footer__email {
    color: #686868;
    line-height: 29.9px;
    font-size: 15.06px;
}

.footer__phone:hover,
.footer__email:hover {
    color: white;
}

.footer__address {
    font-style: initial;
}