@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Heavy.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-UltraLight.otf") format("truetype");
    font-weight: 100;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 961px;
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("../src/greeting-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    display: grid;
    grid-template-areas:
        "logo navigation";
    grid-template-rows: 90px;
    grid-template-columns: auto 635px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.logo {
    grid-area: logo;
    padding: 0 4px;
}

.logo img {
    width: 133px;
    height: 29px;
    display: block;
}

.navigation {
    grid-area: navigation;
}

.navigation__items {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 90px;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    display: block;
    height: 90px;
    line-height: 90px;
    color: white;
}

.navigation__link:hover {
    border-bottom: 1px solid #ffffff;
}